@tailwind base;
@tailwind components;
@tailwind utilities;

// VT323 Font 
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

html, body { 
    @apply min-h-screen;
}

html {
    @apply bg-custom-gray;
}

body:before {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    background-position: top right;
    background-image: url(../assets/pokeball.png);
    background-repeat: no-repeat;
    opacity: 0.2;
    transform: translate(30%, -40%);
    background-size: 100%;
}

body:before {
    @apply w-90vw h-90vw sm:w-35vw sm:h-35vw ;
}

p {
    &.game {
        @apply font-vt323 text-20px;
    }
}

section {
    @apply px-10px sm:px-100px md:px-100px lg:px-150px xl:px-200px;
}

#poke-grid {
    @apply grid justify-center grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 auto-rows-auto gap-4;
}

// custom element
poke-box {
    @apply rounded-lg relative pt-100% transition-colors bg-custom-whitesmoke hover:bg-custom-gray-disabled h-0px cursor-pointer;
}

.poke-content {
    @apply absolute top-0 left-0 w-100% h-100% flex flex-col justify-center items-center;

    &:before {
        @apply content-data-content absolute font-vt323 text-125%  bottom-5px whitespace-nowrap;
    }
}

.poke-img {
    @apply w-100%;
}

#pagination {
    @apply flex justify-center items-center mt-50px;

    & > * {
        @apply flex justify-center items-center mx-10px bg-custom-whitesmoke w-30px h-30px rounded-lg transition-colors;
    }

    & :not(.disabled) {
        @apply  hover:bg-custom-gray-dark;
    }

    & .disabled {
        @apply  bg-custom-gray-disabled;
    }

    & .active {
        @apply  border-4px border-custom-black;
    }
}

#loader {
    @apply bg-custom-gray-dark w-10px h-10px rounded-full animate-spin;
}
